.column-news-title {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.column-header-box {
    display: flex;
    align-items: center;
}
