@font-face {
    font-family: 'Rubik';
    src: url('../src/Assets/Fonts/Rubik-Regular.woff2') format('woff2'), url('../src/Assets/Fonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../src/Assets/Fonts/Rubik-Medium.woff2') format('woff2'), url('../src/Assets/Fonts/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@import 'bootstrap/dist/css/bootstrap.min.css';
// @import "flag-icon-css/css/flag-icon.min.css";


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', Arial, sans-serif;
}

img {
    display: inline-block;
}

.container {
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}