.get-banner {
    display: flex;
    margin: 38px 0px;
    padding: 37px 19px 0px 19px;
    background: #F6F6F9;
    border-radius: 5px;
}

.get-header-box {
    display: flex;

}

.get-text-center {
    width: 526px;
    margin-right: 60px;
}

.get-title {
    margin: 0;
    margin-top: 27px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #295093;
}

.get-subtitle {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.get-img-right {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.img-get-two {
    margin-left: 18px;
}